extends ../layouts/default
include ../mixins/image

block content
	div.section.group.content-header
		div.col.span_3_of_12
			+imageTag(book.photo)
			div.details
				p!= book.category.singulier
				p!= book.details.width+" x "+book.details.height+" - "+book.details.nbPages+"p"
			+imageTag(book.author.photo)
			h3
				a(href='/auteurs/' + book.author.slug)= book.author.name
			p.details!=book.author.content.brief
		div.col.span_7_of_12.desc
			h2= book.name
			h4 #{(book.publishedDate.getMonth() + 1) + " / " + book.publishedDate.getFullYear()}
			p!= book.content.extended
